
@font-face {
    font-family: "Roboto-Mono";
    src: url("../fonts/Roboto-Mono.woff2") format("woff2"),
    url("../fonts/Roboto-Mono.woff") format("woff"),
    url("../fonts/Roboto-Mono.ttf") format("truetype");
    font-weight: 400;
}